#header {
	height: 50px;
	padding: 20px 40px 10px 40px;
}

#header h1 {
	float: left;
}

#nav {
	float: right;
}

#nav li {
	float: left;
	display: inline;
	margin-left: 20px;
}

#sidebar {
	width: 200px;
	float: left;
}

#sidebar span {
	display: block;
	margin: 0 auto;
}

#sidebar.ui-state-default {
	height: 1.9em;
	line-height: 1.9em;
	padding: 0 0.6em;
} 

#calendar {
	width: 1000px;
	float: left;
}

