#header {
	height: 50px;
	padding: 20px 40px 10px 40px;
}

#header h1 {
	float: left;
}

#nav {
	float: right;
}

#nav li {
	float: left;
	display: inline;
	margin-left: 20px;
}

#sidebar {
	width: 200px;
	float: left;
}

#sidebar span.button {
	border: 1px solid #327E04;
	background: #459E00 url(images/ui-bg_highlight-hard_15_459e00_1x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: white;
	
	height: 1.9em;
	line-height: 1.9em;
	padding: 0 0.6em;
	cursor: pointer;

	moz-border-radius: 6px;
	webkit-border-radius: 6px;
	border-radius: 6px;
} 

#calendar {
	width: 1000px;
	float: left;
}

